@model CanYouEvenWin.Models.ViewModels.AttemptsIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-id="@Model.ContestId">Add Attempt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attempt.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attempt.UserProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attempt.PrizeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attempt.ContestId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AttemptsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserProfileId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrizeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prize.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    <a class="nav-link text-dark" asp-area="" asp-controller="Contest" asp-action="Details" asp-route-id="@Model.ContestId">Back to Contest</a>
</table>
