@model CanYouEvenWin.Models.ViewModels.ContestDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<h4 class="dislay-4">There have been @Model.Calculation.CTotal attempts with @Model.Calculation.UCTotal win(s) for a win percentage of @Model.Calculation.Percentage %</h4>
<h4 class="dislay-4">You have made @Model.UCalculation.CTotal attempts with @Model.UCalculation.UCTotal win(s) for a win percentage of @Model.UCalculation.Percentage %</h4>
<div>
    <h4>Contest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contest.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contest.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contest.SiteURL)
        </dt>
        <dd class="col-sm-10">
            <a href=@Model.Contest.SiteURL>Click here to go to contest </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contest.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contest.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contest.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contest.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contest.ContestMaker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contest.ContestMaker)
        </dd>
    </dl>
    <h3>Prize(s)</h3>
    <dd class="col-sm-10">
        @foreach (Prize prize in Model.Prizes)
        {
            if (prize.Name != "Nothing")
            {
                <p>@prize.Name</p>
            }
        }
        <div class="row">
            <a asp-controller="Prize" asp-action="Index" asp-route-id="@Model.Contest.Id" class="btn btn-primary" title="Prize">
                Add/Edit Prize(s)
            </a>
        </div>
        <div class="row">
            <a asp-controller="Attempt" asp-action="Index" asp-route-id="@Model.Contest.Id" class="btn btn-primary" title="Attempt">
                View Attempt(s)
            </a>
        </div>
    </dd>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Contest.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
