@model CanYouEvenWin.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="dislay-4">There have been @Model.Calculation.CTotal attempts with @Model.Calculation.UCTotal wins for a win percentage of @Model.Calculation.Percentage %</h2>
    <h2 class="dislay-4">You have made @Model.SCalculation.CTotal attempts with @Model.SCalculation.UCTotal wins for a win percentage of @Model.SCalculation.Percentage %</h2>
</div>
